<select name="product" class="form-control" data-track-input data-request="onLoadForm" data-request-update="'{{ __SELF__ }}::form': '#subscriptionForm'">
{% for product in products %}
    <option value="{{ product.id }}">{{ product.name }}</option>
{% endfor %}
</select>

<div id="subscriptionForm">

</div>